.star {
    max-width: 25px;
}

.rating {
    position: absolute;
    bottom: 0;
    right: 0;
}

.remove-rating {
    position: absolute;
    bottom: -5px;
    right: 160px;
}

#recommended-books, #prev-rated-books {
    border: 2px solid black;
    max-height: 650px;
    overflow-y: scroll;
}