<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bindur</title>

    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Bindur</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="login-link" href="#">Login
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mb-2">
        <div class="row text-center">
            <div class="col-lg-12 text-center overflow-hidden" id="recommend-book">
                <h2 class="mt-2">Find books you'd never expect to like!</h2>
                <p class="lead mt-1">We think you'd like these 3 books</p>

                <div id="recommended-books">
                    <div class="container">
                        <div class="row mb-2 new-recommendation">
                            <div class="col-2">
                                <img
                                    src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" />
                            </div>

                            <div class="col text-left ml-1">
                                <div>
                                    <b>Name</b> goes here
                                    <br />
                                    <b>Description: </b>Box Set containing Harry Potter and the Sorcerer's Stone, Harry
                                    Potter and the Chamber Of Secrets, Harry Potter and the Prisoner of Azkaban, Harry
                                    Potter and the Goblet Of Fire, and Harry Potter and the Order of the Phoenix!
                                </div>
                                <br />
                                <div class="rating">
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                </div>
                            </div>
                        </div>

                        <div class="row mb-2 new-recommendation">
                            <div class="col-2">
                                <img
                                    src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" />
                            </div>

                            <div class="col text-left ml-1">
                                <div>
                                    <b>Name</b> goes here
                                    <br />
                                    <b>Description: </b>Box Set containing Harry Potter and the Sorcerer's Stone, Harry
                                    Potter and the Chamber Of Secrets, Harry Potter and the Prisoner of Azkaban, Harry
                                    Potter and the Goblet Of Fire, and Harry Potter and the Order of the Phoenix!
                                </div>
                                <br />
                                <div class="rating">
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 new-recommendation">
                            <div class="col-2">
                                <img
                                    src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" />
                            </div>

                            <div class="col text-left ml-1">
                                <div>
                                    <b>Name</b> goes here
                                    <br />
                                    <b>Description: </b>Box Set containing Harry Potter and the Sorcerer's Stone, Harry
                                    Potter and the Chamber Of Secrets, Harry Potter and the Prisoner of Azkaban, Harry
                                    Potter and the Goblet Of Fire, and Harry Potter and the Order of the Phoenix!
                                </div>
                                <br />
                                <div class="rating">
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 new-recommendation">
                            <div class="col-2">
                                <img
                                    src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" />
                            </div>

                            <div class="col text-left ml-1">
                                <div>
                                    <b>Name</b> goes here
                                    <br />
                                    <b>Description: </b>Box Set containing Harry Potter and the Sorcerer's Stone, Harry
                                    Potter and the Chamber Of Secrets, Harry Potter and the Prisoner of Azkaban, Harry
                                    Potter and the Goblet Of Fire, and Harry Potter and the Order of the Phoenix!
                                </div>
                                <br />
                                <div class="rating">
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                    <img src="/static/images/whitestar.png" class="star" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="rated-books">
                    <h2 class="mt-2">Remove or edit previous ratings</h2>
                    <p class="lead mt-1">Click the stars to edit your rating</p>

                    <div id="recommended-books">
                        <div class="container">
                            <div class="row mb-2 new-recommendation">
                                <div class="col-2">
                                    <img
                                        src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" />
                                </div>

                                <div class="col text-left ml-1">
                                    <div>
                                        <b>Name</b> goes here
                                        <br />
                                        <b>Description: </b>Box Set containing Harry Potter and the Sorcerer's Stone,
                                        Harry Potter and the Chamber Of Secrets, Harry Potter and the Prisoner of
                                        Azkaban, Harry Potter and the Goblet Of Fire, and Harry Potter and the Order of
                                        the Phoenix!
                                    </div>
                                    <br />
                                    <div class="rating">
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-2 new-recommendation">
                                <div class="col-2">
                                    <img
                                        src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" />
                                </div>

                                <div class="col text-left ml-1">
                                    <div>
                                        <b>Name</b> goes here
                                        <br />
                                        <b>Description: </b>Box Set containing Harry Potter and the Sorcerer's Stone,
                                        Harry Potter and the Chamber Of Secrets, Harry Potter and the Prisoner of
                                        Azkaban, Harry Potter and the Goblet Of Fire, and Harry Potter and the Order of
                                        the Phoenix!
                                    </div>
                                    <br />
                                    <div class="rating">
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 new-recommendation">
                                <div class="col-2">
                                    <img
                                        src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" />
                                </div>

                                <div class="col text-left ml-1">
                                    <div>
                                        <b>Name</b> goes here
                                        <br />
                                        <b>Description: </b>Box Set containing Harry Potter and the Sorcerer's Stone,
                                        Harry Potter and the Chamber Of Secrets, Harry Potter and the Prisoner of
                                        Azkaban, Harry Potter and the Goblet Of Fire, and Harry Potter and the Order of
                                        the Phoenix!
                                    </div>
                                    <br />
                                    <div class="rating">
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 new-recommendation">
                                <div class="col-2">
                                    <img
                                        src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" />
                                </div>

                                <div class="col text-left ml-1">
                                    <div>
                                        <b>Name</b> goes here
                                        <br />
                                        <b>Description: </b>Box Set containing Harry Potter and the Sorcerer's Stone,
                                        Harry Potter and the Chamber Of Secrets, Harry Potter and the Prisoner of
                                        Azkaban, Harry Potter and the Goblet Of Fire, and Harry Potter and the Order of
                                        the Phoenix!
                                    </div>
                                    <br />
                                    <div class="rating">
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                        <img src="/static/images/whitestar.png" class="star" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/jquery/jquery.slim.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>