<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bindur</title>

    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Bindur</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" id="navbarList">
                    <li class="nav-item active d-flex align-items-center" id="nav-page-lang">
                        <img class="nav-list" id="flag-img" href="#" src="/static/images/ENG.png" />
                        <span class="nav-link" id="page-lang">ENG</span>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" id="register" href="#">
                            Register
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="navbar-login" data-toggle="modal" data-target="#modalLoginForm"
                            href="#">Login
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="navbar-logout" href="#">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container mb-2">
        <div class="row text-center">
            <div class="col-lg-12 text-center overflow-hidden" id="recommend-book">
                <h2 class="mt-2" id="welcome-msg-1">Find books you'd never expect to like!</h2>
                <p class="lead mt-1" id="welcome-msg-2" >We think you'd like these 3 books</p>

                <div class="container" id="recommended-books">
                </div>

                <div>
                    <h2 class="mt-2" id="edit-msg-1">Remove or edit previous ratings</h2>
                    <p class="lead mt-1" id="edit-msg-2">Click the stars to edit your rating</p>

                    <div id="search-prev-rated-books" class="float-right">
                        <label id="search-prompt">Filter by name:</label>
                        <input type="text" id="search-query" />
                    </div>
                    <div class="container" id="prev-rated-books">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Login Dialog Form -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold" id="modal-sign-in">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label data-error="wrong" id="modal-signin-prompt" data-success="right" for="login-form-number">Your User Id</label>
                        <input type="numeric" id="user-id-input" class="form-control validate">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-default" id="modal-login-button">Login</button>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row mb-2 new-recommendation" id="recommended-book-widget">
        <div class="col-2">
            <img src="https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png" class="book-image"/>
        </div>
        
        <div class="col text-left ml-1">
            <div>
                <b id="book-card-title-label">Title:</b> <span class="book-title"></span>
                <br />
                <b id="book-card-genre-label">Genre:</b> <span class="book-genre"></span>
                <br />
                <b id="book-card-desc-label">Description: </b><span class="book-desc"></span>
            </div>
            <br /><br />

            <button type="button" class="remove-rating btn btn-light">Remove Rating</button>
            
            <div class="rating">
                <img src="/static/images/whitestar.png" class="star" id="star-1"/>
                <img src="/static/images/whitestar.png" class="star" id="star-2"/>
                <img src="/static/images/whitestar.png" class="star" id="star-3"/>
                <img src="/static/images/whitestar.png" class="star" id="star-4"/>
                <img src="/static/images/whitestar.png" class="star" id="star-5"/>
            </div>
        </div>
    </div>

    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/main.js"></script>
</body>

</html>